{% extends "parent.html" %}


{% block main %}
<h2 style="color:red ; text-align: center;font-size: 58px; margin-left: -200px;">Marc Laboratories Limited</h2>
<div class="col-sm-12" style="margin-top: 70px; margin-left: 50px;">

   
    <p><span><b style="color: RED; font-size: 48px;">M</b></span>"Elevating Healthcare Through Magnificient Solutions."</p>
    <p><span><b style="color: RED; font-size: 48px;">A</b></span>"Elevating Healthcare Through innovation and collaboration."</p>
    <p><span><b style="color: RED; font-size: 48px;">R</b></span>"Discover effective remedies for  healthier you."</p>
    <p><span><b style="color: RED; font-size: 48px;">C</b></span>"Your Gateway to effective  Cure Solutions."</p>
   
  </div>


{% endblock main %}  