{% extends 'customerparent.html' %}
{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h1 style="text-align:center;">Change your password</h1> 
        {% if msg %}
        <p style="text-align: center;color: white;">{{msg}}</p>
        {% endif %}
        <form class="from-group" method="post">
            {% csrf_token %}
         <table class="table table-bordered" style="margin:auto;width: 70%;">
            <tr>
                <td class="text-light">Old password</td>
                <td>
                   <input type="password" name="oldpassword" class="form-control text-light" required/>
                </td>
            </tr>

            <tr>
                <td>New Password</td>
                <td>
                    <input type="password" name="newpassword" class="form-control text-light" required/>
                    
                </td>
            </tr>

            <tr>
                <td>Confirm Password</td>
                <td>
                    <input type="password" name="conpassword" class="form-control text-light" required/>
                </td>
            </tr>

            <tr>
                <td></td>
                 <td>
                    <button type="submit" class="btn btn-success">Submit</button>
                </td>
            </tr>
        </table>
        </form>  
    </div>
</div>


{% endblock %}