{% extends "customerparent.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <h1 style="text-align:center;">View All Products</h1>   
              
        </div>
    </div>
    <div class="row mt-2">
      <div class="col-sm-12">
        <table class="table table-bordered " style="margin: auto;">
            <tr>
                <th>Id</th>
                <th>Product Name</th>
                <th>Mfg Date</th>
                <th>Exp Date</th>
                <th>Price</th>
                <th>Product Image</th>
                <th>Buy</th>
            </tr>

            {% for p in prod %}
            <tr>
                <td>
                    {{forloop.counter}}
                </td>
                <td>{{p.productname}}</td>
                <td>{{p.mfgdate}}</td>
                <td>{{p.expdate}}</td>
                <td>{{p.price}}</td>
                <td>
                    <img src="{{p.productpic.url}}"/>
                </td>
                <td>
                    <a href="{% url 'customerapp:buy' id=p.id %}">
                        <button type="button" class="btn btn-primary">Buy</button>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
      </div>

    </div>
{% endblock body %}
